src/main/xsd/error.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Errors" type="ErrorsType"/>
  <xs:complexType name="ErrorType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="ShortText"/>
        <xs:attribute type="xs:string" name="Code"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ErrorsType">
    <xs:sequence>
      <xs:element type="ErrorType" name="Error"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="TimeStamp"/>
    <xs:attribute type="xs:string" name="TransactionIdentifier"/>
  </xs:complexType>
</xs:schema>